* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0068d0;
}

.wrapper {
  width: 1180px;
  margin: 50px auto;
}

#grid {
  width: 800px;
  height: 800px;
  margin-top: 10px;
  border: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  aspect-ratio: 1;
  background-color: #ffff99;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked {
  background-color: azure;
}
